.about {
  width: 100%;
  margin-top: 10vh;
}

.titleBox {
  position: relative;
  width: 100%;

  --about-title-font-size: clamp(0px, 17vw, 160px);

  font-size: var(--about-title-font-size);

  color: var(--foreground);
  gap: 0.2em;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 1.2em;
}

.title {
  display: none;
}

.titleIcon {
  animation: rotate 5s linear infinite;
}

@media (max-width: 600px) {
  .titleIcon {
    display: none;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
